body {
    text-align: center;
    background-color: powderblue;
}
.Logoutbtn:hover {
    background-color: grey;
    color: white;
}

.homebtn:hover {
    background-color: white;
}

.mylink:hover {
    background-color: blue;
}

.first-link {
text-decoration: none;
margin-right: 20px;
color: powderblue;
}

.first-link:hover {
color: white;
}

.second-link {
text-decoration: none;
margin-right: 20px;
color: powderblue;
}

.second-link:hover {
color: white;
}

.third-link {
text-decoration: none;
color: powderblue;

}

.third-link:hover {
color: white;
}

.footing {
font-size: 80%;
color: white;
}

.footer {
    margin: 60px 0 0;
    padding: 80px 0 65px;
}

