body {
    background-color: #161925;
}

.heading {
    letter-spacing: 15px;
    font-size: 6rem;;
}

.search-box {
    height:3rem;
}

.custom-margin {
    margin-bottom: 2.5rem;
}

.custom-margin-2 {
    margin-bottom: 4.5rem;
}

a {
    text-decoration: none;
}

button:hover {
    filter: brightness(85%);
    font-size: 130%;
  }

a:hover {
      filter:brightness(85%);
  }



@media screen and (max-width: 992px) {
    .heading {
        font-size: 6rem;
    }

    .custom-margin {
        margin-bottom: 7rem;
    }

    .custom-margin-2 {
        margin-bottom: 10rem;
    }
  }


  @media screen and (max-width: 600px) {
    .heading {
        font-size: 1.5rem;
        text-align: center
    }
    .search-box {
        height:auto;
    }

    .custom-margin {
        margin-bottom: 6.5rem;
    }

    .custom-margin-2 {
        margin-bottom: 8rem;
    }
  }

  @media screen and (max-width: 768px) {
    .heading {
        font-size: 4rem;
    }

   
  }